[defaults]
inventory = hosts/inventory.ini
callbacks_enabled = ansible.posix.profile_tasks,ansible.posix.timer

fact_caching = jsonfile
fact_caching_connection = /tmp/
fact_caching_prefix = ansible_cache_
fact_caching_timeout = 3600